# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment variables (nu urcam secretele)
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/
